@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

body {
  color: hsl(187, 24%, 22%);
  background-color: hsl(148, 38%, 91%);
  padding: 0.75rem;
}

#form {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: hsl(0, 0%, 100%);
}

span {
  color: hsl(169, 82%, 27%);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

label,
#query-type {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  display: block;
  margin-top: 2rem;
}

.radio {
  border: 1px solid hsl(186, 15%, 59%);
  padding: 0.5rem;
  border-radius: 8px;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  width: 100%;
  outline: none;
}

input[type="text"]:hover,
textarea:hover {
  border-color: hsl(169, 82%, 27%);
}

input:active {
  border-color: hsl(169, 82%, 27%);
}

input[type="radio"] {
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* custom radio knob */
label.radio input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  position: relative;
  background: white;
}

label.radio input[type="radio"]:checked {
  background-image: url("assets/images/icon-radio-selected.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  border: none;
}

label.radio:active {
  background-color: hsl(147, 60%, 82%);
}

label.radio:hover {
  border-color: hsl(169, 82%, 27%);
}

label.radio:focus {
  background-color: hsl(147, 60%, 82%);
}

.error-message {
  color: hsl(0, 66%, 54%);
  font-size: 0.875rem;
  margin: 0.25rem 0 0.5rem 0;
}

#consent {
  margin-right: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
}

#consent-container input[type="checkbox"] {
  display: none;
}

#consent-container .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(169, 82%, 27%);
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

#consent-container input:checked + .checkmark {
  background-image: url("assets/images/icon-checkbox-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  border-radius: 1.5px;
}

#submit {
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  width: 100%;
}

#submit:hover {
  background-color: hsl(170, 65%, 19%);
  transition: background-color 1s ease;
}

#submit[disabled] {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}

#success-message {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: hsl(0, 0%, 100%);
  background-color: hsl(170, 65%, 19%);
  border: 3px solid hsl(170, 65%, 19%);
  padding: 1rem 2rem;
  border-radius: 12px;
  display: none;
  width: 80%;
}

#success-message.show {
  display: block;
}

#message-sent {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}
